
div:first-child{
 background-color: black;
 color: white;
 
}
/* div{
    background-color: blue;
    color: white;
} */
p:first-child{
    color: palegreen;
}
td{
    border: 2px solid green;
    padding: 0px;
    margin: 0px;
}
table{
    border: 2px solid green;
}
th{
    border: 2px solid green;
}